@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

header {
    margin-left: 3%;
}

.img-slide {
    width: 90%;
    margin-top: -8%;
    z-index: 5;
    margin-left: 10%;
}
}

.hero__container {
    width: 95%;
    margin: 0 auto;
}

.carousel__container {
    width: 80%;
    position: absolute;
    right: 40px;
}


.hero-carousel h1 {
    font-size: 13em;
    z-index: 100;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-carousel p {
    font-size: 18px;
    color: #979797;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

/* Small (sm) */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }
}

/* Medium (md) */
@media (min-width: 768px)  {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}


/* Large (lg) */
@media (min-width: 1024px)  {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
}


/* Extra Large (xl) */
@media (min-width: 1280px)  {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}

