<div id="section__container">
    <div class="carousel__inner">
        <div class="carousel-content">
            <h2>Rental Inquiries</h2>
            <p>For all rental inquiries, short-term or longer-term event,<br>
            please call 805-866-4642, or e-mail info@santabarabarabeachclub.com</p>
        </div>
        <div class="carousel-flex">
            <div class="carousel-one"></div>
            <div class="carousel-two"></div>
            <div class="carousel-three"></div>
            <div class="carousel-four"></div>
        </div>
    </div>
</div>