<div class="carousel-inner">
    <div id="section__container">
        <div class="carousel-content">
            <h2>RENTAL INQUIRIES</h2>
            <p>For all rental inquiries, short-term or longer-term event,<br>
            please call 805-866-4642, or e-mail info@santabarabarabeachclub.com</p>
        </div>
        <div class="carousel-flex">
            <a href="" class="carousel-one">
                <div>
                    <h2>Concierge</h2>
                    <p>A sample of services available for Beach Club guests. Make your stay all the more convenient and enjoyable.</p>
                </div>
            </a>
            <a href="" class="carousel-two">
                <div>
                    <h2>Photos</h2>
                    <p>View a collection of high quality photos of the Santa Barbara Beach Club</p>

                </div>
            </a>
            <a href="" class="carousel-three">
                <div>
                    <h2>Amenities</h2>
                    <ul>
                        <li>Architecture by Robert Foley, Santa Barbara</li>
                        <li>Interior design by Tuvalu, Laguna Beach</li>
                        <li>Cabinetry by PJ Milligan, Santa Barbara</li>
                        <li>Theatre by Roberts Home Audio Video, Los Angeles</li>

                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>