
<footer>
    <div id="section__container">
        <h4>Get in Touch</h4>
        <h1>Looking to Rent?</h1>
        <p>Phone: <span>805-886-4642</span></p>
        <p>Email: <span>info@santabarbarabeachclub.com</span></p>
    </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/slick.min.js"></script>
<script src="{{.Site.BaseURL}}js/main.js"></script>

</body>
</html>