
<footer>
    <div id="section__container">
        <div class="footer-inner">
            <h1>Contact</h1>
            <p><strong>Phone: </strong> <a href="tel:8058864642">805-886-4642</a></p>
            <p><strong>Email: </strong><a href="mailto:info@santabarbarabeachclub.com">info@santabarbarabeachclub.com</a></p>
            <hr style="margin-top: 50px;background-color: #000;height:1px">
        </div>
    </div>
        <div class="footer-bottom">
            <div class="designer">
                <p><a href="https://hungryram.com" target="_blank">Designed by Hungry Ram</a></p>
            </div>
            <div class="center-footer">
                <p>Selected as an Andrew Harper Premiere Residence</p>
            </div>
        </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{.Site.BaseURL}}js/slick.min.js"></script>
<script src="{{.Site.BaseURL}}js/main.js"></script>

</body>
</html>