<div class="header-bar"></div>
<header id="header">
    <div class="logo">Santa Barbara Beach Club</div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Floorplan</a></li>
            <li><a href="#">Testimonials</a></li>
        </ul>
    </nav>
    <div class="header-cta">
        <a href="#">contact</a>
        <div class="nav-mobile">
            <span>MENU</span>
        </div>
    </div>
</header>