<div class="header-bar"></div>
<header id="header">
    <div class="logo">Santa Barbara Beach Club</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Photos">Photos</a></li>
            <li><a href="/floorplan">Floorplan</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>
    </nav>
    <div class="header-cta">
        <a href="#">contact</a>
        <div class="nav-mobile">
            <span>MENU</span>
        </div>
    </div>
</header>