<div class="header-bar">
        <a href="tel:805-886-4642">Call: 805-886-4642</a>
</div>
<header id="header">
    <a href="/"  class="logo">
        <div><img src="{{.Site.BaseURL}}images/logo3.png" alt="Santa Barbara Beach Club Logo"/></div>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/amenities">Amenities</a></li>
            <li><a href="/floorplan">Floorplan</a></li>
            <li><a href="/about">About Santa Barbara</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>
    </nav>
    <div class="header-cta">
        <strong>805-886-4642</strong>
        <div class="nav-mobile">
            <span>MENU</span>
        </div>
    </div>
</header>
